{% extends "base.html" %}

{% block "css_files" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule.css">
{% endblock %}

{% block "content" %}
<div id="content">
    <div class="calendar-sidebar">
        <div class="projects">
            My Projects:
            <ul>
                {% for project in projects %}
                    <li class="filter">
                        <a href="{% url 'schedule:calendar' %}?projects={{ project }}">{{ project|title }}</a>
                        {% if project in selected_projects %}
                            <span class="project-close">
                                <a href="{% url 'schedule:calendar' %}">x</a>
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="calendar"></div>
</div>
{% endblock %}


{% block "js_scripts" %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    <script type="text/javascript">
        $('.calendar').fullCalendar({
            eventSources: [
                {
                    url: '/schedule/calendar/json/',
                    data: {
                        user_id: '{{ user.id }}',
                        project: '__personal__',
                    },
                    color: '#FF4838',
                    textColor: 'black'
                },
                {% for project in selected_projects %}
                {
                    url: '/schedule/calendar/json/',
                    data: {
                        user_id: '{{ user.id }}',
                        project: '{{ project }}',
                    },
                    color: "#{% cycle 'FFBA45' 'F1FF5D' '79FF87' '7A90FF' %}",

                    textColor: 'black'
                }
                {% endfor %}
            ]
        });
    </script>
{% endblock %}
