{% extends "base.html" %}

{% block "content" %}
<div id="content">
    <div class="calendar"></div>
</div>
{% endblock %}


{% block "js_scripts" %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    <script type="text/javascript">
        $('.calendar').fullCalendar({
            eventSources: [{
                url: '/schedule/calendar/json/',
                color: '#ebcccc',
                textColor: 'black'
            }]
        });
    </script>
{% endblock %}
