{% extends "base.html" %}

{% block "content" %}
<div id="content">
	<div class="calendar"></div>
</div>
{% endblock %}


{% block "js_scripts" %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    <script type="text/javascript">
		$('.calendar').fullcalendar({
			// TODO: configuration goes here
		});
	</script>
{% endblock %}
