{% extends "base.html" %}

{% block "content" %}
<div id="content">
    <h2>
    {% if person.user == request.user %}
    My upcoming events
    {% else %}
    Upcoming events for {{ person.user.first_name }} {{ person.user.last_name }}
    {% endif %}
    </h2>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Type</th>
			</tr>
		</thead>
	    <tbody>
        {% for item in vacation_list %}
            <tr>
	    		<td>{{ item.date }}</td>
	    		<td>{{ item.get_type_display }}</td>
	    	</tr>
        {% endfor %}
	    </tbody>
	</table>
</div>
{% endblock %}
