{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block "css_files" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block "content" %}
<div class="calendar-time-away-form">
    {% crispy form %}
</div>
{% endblock %}


{% block "js_scripts" %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
{% endblock %}

{% block "js_ready" %}
    $(function() {
        $(".dateinput").datepicker({
            dateFormat: 'm/d/yy',
            minDate: 'today',
            beforeShow: function (input, inst) {
                var offset = $(input).offset();
                var height = $(input).height();
                window.setTimeout(function () {
                    inst.dpDiv.css({ top: (offset.top + height + 4) + 'px', left: offset.left + 'px' })
                }, 1);
            }
        });
    });
{% endblock %}
